/*Phones (less than 740px)*/
@media only screen and (max-width: 739px) {
    canvas {
        height: 200px !important;
    }
    .canvas-container {
        height: 200px !important;
    }
    .card {
        width: 600px;
    }
}

/*Tablets (740px and 1024px)*/
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    canvas {
        height: 300px !important;
    }
    .canvas-container {
        height: 300px !important;
    }
    .card {
        width: 680px;
    }
}

/*Desktops(1024px and up)*/
@media only screen and (min-width: 1024px) {
    canvas {
        height: 400px !important;
    }
    .canvas-container {
        height: 400px !important;
    }
    .card {
        width: 900px;
    }
}
